<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .navbar {
        margin: 0;
        padding: 1.5%;
      }
    </style>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:white">Home Security System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active" style="color:rgba(255, 255, 255, 0.944);font-size:18px"><a href="#">Home</a></li>
            <li class="active" style="color:rgba(255, 255, 255, 0.944);font-size:18px"><a href="{% url 'dashboard:upload' %}">Upload Images</a></li>
            <li class="active" style="color:rgba(255, 255, 255, 0.944);font-size:18px"><a href="{% url 'dashboard:detect' %}">Detect</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="{% url 'logout' %}" style="color:rgba(255, 255, 255, 0.944);font-size:18px" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
    </nav>
    <div>
    <h1>Welcome to the Dashboard</h1>

   
</div>
</body>
</html>